body{
  background-color: #282822;
}

.upper-body {
  display: flex;
}

.image {
  text-align: center;
}

.btn-margin-left-auto {
  margin-left:auto !important;
}

.color-red{
  color:rgb(226, 19, 19);
}




