.library {
  flex: 0.82;
  background-color: #121212;
  color: #fff;
}

.cardlist {
  display: flex;
  /* justify-content: space-around; */
}

.delete{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: black;
}

.delete:hover{
  color: gray;
}


.playlist-cards {
  width: 95%;
  margin: 0 auto;
}
