.body {
  margin: 0;
  padding: 0;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding:20px;
  background-color: #282828;
  height: 45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pro-pic {
  width: 25%;
  height: 75%;
  border-radius: 50%;
  margin-bottom: 2%;
}

.cam {
  color:black;
  margin-top: 20px;
  cursor: pointer;
}
.cam:hover {
  color:gray;
}

.inputfile {
  margin-top: 30px;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.pro-info{
  padding-left: 30px;
}

.text {
    padding-top: 30px;
}

.user-playlist {
    color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.playlist-card {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}


.upload-button {
  display:flex;
  flex-direction:column;
  height:30%;
  justify-content:space-between;
  width:250px;
}

.btn-danger {
  position: absolute;
  bottom: 20vh;
  right: 5vh;
}


